<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>Edit Profile Page</title>
	<link href="{% static 'fs/css/all.css' %}" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'edit-styles.css' %}">
</head>
<body>
	<div class="container">
		<header class="hero">
			<a href="{% url 'profile' contact.id %}">
				<i class="fas fa-arrow-circle-left back-btn">	</i>
			</a>

			<div class="hero-info">
				<h1 class="name">{{ contact.full_name | title}}</h1>
				<p class="relationship">{{ contact.relationship | title}}</p>	
			</div>
		</header>

		<form action="" method="post">
			{% csrf_token %}
			
			<section class="contact-info">
				<div class="info-line">
					<i class="fas fa-user icon-gradient"></i>
					<input type="text" name="fullname" class="type" placeholder="Full Name" value="{{ contact.full_name }}">
				</div>
	
				<div class="info-line">
					<i class="fas fa-users text icon-gradient"></i>
					<input type="text" name="relationship" class="type" placeholder="Relationship" value="{{ contact.relationship }}">
				</div>
	
				<div class="info-line">
					<i class="fas fa-phone icon-gradient"></i>
					<input type="text" name="phone" class="type" placeholder="Phone Number" value="{{ contact.phone_number }}">
				</div>
	
				<div class="info-line">
					<i class="fas fa-envelope icon-gradient"></i>
					<input type="email" name="email" class="type" placeholder="Email" value="{{ contact.email }}">
				</div>
	
				<div class="info-line">
					<i class="fas fa-map-marker-alt icon-gradient" id="location"></i>
					<input type="text" name="address" class="type" placeholder="Address" value="{{ contact.address }}">
				</div>			
			</section>
	
			<section class="button-container">
				<div class="update-contact">
					<i class="fas fa-check-circle"></i>
					<button class="button">Save Contact</button>
				</div>
			</section>
		</form>
		<section class="button-container">
			<a href="{% url 'delete-contact' contact.id %}">
				<div class="update-contact">
					<i class="fas fa-trash"></i>
					<button class="button">Delete Contact</button>
				</div>
			</a>
		</section>
	</div>
</body>
</html>